#leadimage {
  width: 175px;
  height: 175px;
  overflow: hidden;
}


#header-content {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  margin-left: 200px;
}

#leadimage img {
  filter: grayscale(1);
  width: 100%;
  height: inherit;
  float: left;
}

html body {
  background-color: whitesmoke;
}

.contentblock {
  background-color: white;
  padding: 15px;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
  margin-bottom: 25px;
}

.nav {
  margin-top: 50px;
}

.col-md-3 {
  margin-left: 10px;
  min-height: 250px;
}

 #headrow {
   position: relative;
 }

.row{
  margin: 0px auto;
}

.welcome {
  color: darkred;
  font-style: italic;
}

.subtitle {
  color: darkred;
  font-size: 20px;
}

blockquote p{
  font-size: 14px;
}

.footer-container {
  width: 100%;
  min-height: 150px;
  background-color: darkgrey;
  margin-top: 50px;
  padding: 25px;
  position: relative;
}


.copyright {
  width: 250px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -125px;
  margin-bottom: 10px;
  color: whitesmoke;
  font-weight: lighter;
}
