#leadimage {
  width: 175px;
  height: 175px;
  overflow: hidden;
}

#header {
  font-size: 40px;

}

#header-content {
  float: right
  position: absolute;
  bottom: 50;
}

#leadimage img {
  filter: grayscale(1);
  width: 100%;
  height: inherit;
}

html body {
  background-color: whitesmoke;
}

.contentblock {
  background-color: white;
  padding: 15px;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
  margin-bottom: 25px;
}

.nav {
  margin-top: 50px;
}

.col-md-3 {
  margin-left: 10px;
  min-height: 250px;
}

.row{
  margin: 0px auto;
}

.welcome {
  color: darkred;
  font-style: italic;
}
